<a href="https://colab.research.google.com/github/Charan4311/Khub_9_/blob/main/Day_2_LOOPS_%26_FUNCTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Types of Loops in Python:
1Ô∏è‚É£ for loop ‚Äì Use when you know how many times to repeat

2Ô∏è‚É£ while loop ‚Äì Use when you want to repeat until a condition becomes false

# for Loop:
The for loop in Python is used to iterate (go through) over a sequence (like a list, tuple, string, or a range of numbers) and execute a block of code for each item in the sequence.

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

# Example 1:
 Using for with range()

Print numbers from 1 to 5:

In [ ]:
for i in range (1,8):
  print(i)

1
2
3
4
5
6
7

## Example :2
 Iterating Over Lists, Strings, Tuples.

# Iterating Over a List
A list is a collection of items in square brackets [].

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

# Iterating Over a String
A string is a sequence of characters.

In [ ]:
text = "hello"

for char in text:
    print(char)

h
e
l
l
o

# Iterating Over a Tuple
A tuple is like a list but with () and it's immutable.

In [ ]:
colors = ("red", "green", "blue")

for color in colors:
    print(color)

red
green
blue

# Iterating Over a Set
A set is an unordered collection (no duplicate items).

In [ ]:
numbers = {1, 2, 3, 4}

for num in numbers:
    print(num)

1
2
3
4

# Iterating Over a Dictionary
A dictionary stores data as key-value pairs.

In [ ]:
student = {"name": "Charan", "age": 18, "grade": "A"}

# Loop through keys
for key in student:
    print(key, ":", student[key])

name : Charan
age : 18
grade : A

# while Loop
A while loop is used to repeat a block of code as long as a condition is true.

It's useful when you don‚Äôt know in advance how many times to repeat.

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

# Loop until user enters "stop"

In [ ]:
command = ""

while command != "stop":
    command = input("Type 'stop' to end: ")

Type 'stop' to end: stop

# Loop Control Statements
These are special statements used inside loops (for or while) to control the flow of the loop.

# break ‚Äì Stop the loop completely
 Use it when you want to exit the loop early, even if the condition or range isn't finished.

In [ ]:
for i in range(1,18):
  if i  == 7:
    break

  print(i)

1
2
3
4
5
6

# Continue - Skip the ireation
use it to skip the rest of the code inside the loop for one particular cycle and move to the next.

In [ ]:
for i in range(1,15):
  if i == 8:
    continue
  print(i)

1
2
3
4
5
6
7
9
10
11
12
13
14

# Pass - Do nothing (used as placeholder)
Use it when a statement is required syntactically but you don‚Äôt want to run any code yet.

In [ ]:
for i in range(1,13):
  if i == 7:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12

# Loop with else
An else block can be added to a for or while loop.
It runs only if the loop finishes naturally ‚Äî that means no break occurred.

example : for loop with else

In [ ]:
for i in range(1,8):
 print(i)
else:
  print("virat scored 100 centuries")

1
2
3
4
5
6
7
virat scored 100 centuries

for loop with break

In [ ]:
for i in range (1,7):
  if i == 5:
    break
  print(i)
else:

  print("virat scored 100 centuries")

1
2
3
4

# while loop else

In [ ]:
x = 1
while x <=5:
  print(x)
  x +=1
else:
  print("while loop with else")

1
2
3
4
5
while loop with else

# Nested Loops
A nested loop is a loop inside another loop.

The outer loop runs first.

For each iteration of the outer loop, the inner loop runs completely.

In [ ]:
for over in range(1, 3):
    print("Over:", over)

    for ball in range(1, 7):
        print("  Ball:", ball)

Over: 1
  Ball: 1
  Ball: 2
  Ball: 3
  Ball: 4
  Ball: 5
  Ball: 6
Over: 2
  Ball: 1
  Ball: 2
  Ball: 3
  Ball: 4
  Ball: 5
  Ball: 6

In [ ]:
x = 18
for i in range(1,x+1):
  print(i*'*')
  print()

*

**

***

****

*****

******

*******

********

*********

**********

***********

************

*************

**************

***************

****************

*****************

******************

# Functions
A function is a reusable block of code that performs a specific task.
It is defined using the def keyword, and it can be called (used) whenever needed.

In [2]:
def say_hello():
    print("Hello, welcome to Python!")

# Calling the function
say_hello()

Hello, welcome to Python!

# 1. Defining and Calling Functions
 def keyword
 Definition:
def is used to define a function in Python.

In [3]:
def greet():
    print("Hello, welcome!")

greet()  # Calling the function

Hello, welcome!

# return keyword
 Definition:
return sends a value back from the function.

In [4]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # Output: 8

8

# 2. Function Arguments
üîπ a) Positional Arguments
 Definition: Arguments passed in order.

In [5]:
def full_name(first, last):
    print(first, last)

full_name("Charan", "Naidu")

Charan Naidu

# b) Default Arguments
 Definition: Default values used if not passed.

In [6]:
def greet(name="Guest"):
    print("Hello", name)

greet()          # Hello Guest
greet("Charan")  # Hello Charan

Hello Guest
Hello Charan

# c) Keyword Arguments
 Definition: You pass values by name.

In [7]:
def student(name, age):
    print(name, "is", age, "years old")

student(age=21, name="Charan")

Charan is 21 years old

# d) *args ‚Äì Variable Positional Arguments
 Definition: Takes any number of values as a tuple

In [8]:
def add_all(*nums):
    print(sum(nums))

add_all(1, 2, 3, 4)  # Output: 10

10

# **kwargs ‚Äì Variable Keyword Arguments
 Definition: Takes key-value pairs as a dictionary.

In [9]:
def print_details(**info):
    for key, value in info.items():
        print(key, ":", value)

print_details(name="Charan", age=21)

name : Charan
age : 21

# 3. Scope of Variables
 a) Local Variable
 Defined inside function, used only there

In [10]:
def show():
    x = 10
    print(x)

show()
# print(x)  # ‚ùå Error: x is local

10

# b) Global Variable
 Defined outside, accessible anywhere.

In [11]:
x = 50

def show():
    print(x)

show()  # Output: 50

50

# c) global keyword
 Allows modifying global variable inside function.

In [12]:
count = 0

def increase():
    global count
    count += 1

increase()
print(count)  # Output: 1

1

# 4. Lambda Functions
 a) Anonymous one-line function

In [13]:
square = lambda x: x * x
print(square(4))  # Output: 16

16

Usage with map()

In [14]:
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1, 4, 9, 16]

[1, 4, 9, 16]

c) Usage with filter()

In [15]:
nums = [1, 2, 3, 4, 5]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)  # [2, 4]

[2, 4]