<a href="https://colab.research.google.com/github/Charan4311/Khub_9_/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings:A string is a sequence of characters enclosed in single quotes ' ' or double quotes " .**bold text**

In [ ]:
message = """This is a
multiline string in Python."""
print(message)

This is a
multiline string in Python.

**Multiline Strings** :
Use triple quotes ''' or """ for multiline strings.

In [ ]:
bio = """My name is Charan.
I am learning Python.

Multiline strings are cool"""

print(bio)

My name is Charan.
I am learning Python.

Multiline strings are cool

 String Indexing
Characters in a string are indexed starting from 0.

In [ ]:
word = "Python"
print(word[0])
print(word[-1])

P
n

**String Slicing** :
Extract parts of a string using slicing.

In [ ]:
s = "Programming"
print(s[0:6])
print(s[3:])
print(s[:4])

Progra
gramming
Prog

String Length:
Use len() to get the length of a string.

In [ ]:
text = "iam charan teja"
print(len(text))

15

String Concatenation:
Use + to join strings.

In [ ]:
first = "Good"
second = "Morning"
result = first + " " + second
print(result)

Good Morning

String Repetition :
Use * to repeat a string.

In [ ]:
print("virushaka" * 3)

virushakavirushakavirushaka

# String methods:
upper() – Converts to uppercase

lower() – Converts to lowercase

capitalize() – Capitalizes first character

title() – Capitalizes first letter of each word

strip() – Removes whitespace from both ends

replace(old, new) – Replaces a substring

split(separator) – Splits into a list

join() – Joins elements of a list into a string

 find(sub) – Finds position of substring

In [ ]:
text = "hello"
print(text.upper())

text = "HELLO"
print(text.lower())

text = "python programming"
print(text.capitalize())

text = "learn python fast"
print(text.title())

text = "  hello world  "
print(text.strip())

text = "I like Java"
print(text.replace("Java", "Python"))

text = "apple,banana,grape"
print(text.split(","))

words = ['Python', 'is', 'fun']
print(" ".join(words))

text = "Learn Python"
print(text.find("Python"))

HELLO
hello
Python programming
Learn Python Fast
hello world
I like Python
['apple', 'banana', 'grape']
Python is fun
6

# OPERATORS
In python different types of operaters
- Arithmetic
- Assignment
- Comparison
- Logic
- Identity
- Membership
- Bitwise

##1. Arithmetic Operators:
These operators are used to perform mathematical operations.

Addition


Subtraction


Multiplication


Division


Modulus

Exponentiation

Floor Division

In [ ]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

13
7
30
3.3333333333333335
1
1000
3

# 2. Comparison Operators:
These operators are used to compare two values and return a Boolean result.

== : Equal to

!= : Not equal to

(> ): Greater than

< : Less than

(>=): Greater than or equal to

<= : Less than or equal to

In [ ]:
a = 10
b = 3

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

# 3. Logical Operators:
 These operators are used to perform logical operations and return a Boolean result.

and : Returns True if both statements are true

or : Returns True if one of the statements is true

not : Reverses the result, returns False if the result is true

In [ ]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)

False
True
False

4. Bitwise Operators:
These operators are used to perform bit-level operations on integers.

& : AND

| : OR

^ : XOR

~ : NOT

<< : Zero fill left shift

(>>) : Signed right shift

In [ ]:
a = 10
b = 4

print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

0
14
14
-11
20
5

# 5. Assignment Operators:

These operators are used to assign values to variables.

= : Assign

+= : Add and assign

-= : Subtract and assign

*= : Multiply and assign

/= : Divide and assign

%= : Modulus and assign

**= : Exponentiation and assign

//= : Floor division and assign

In [ ]:
a = 10
a += 3
print(a)

a -= 2
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 3
print(a)

a **= 2
print(a)

a //= 2
print(a)

13
11
22
5.5
2.5
6.25
3.0

# 6.membership Operators:
These operators are used to test if a sequence contains a value.

in : Returns True if a sequence with the specified value is present in the object

not in : Returns True if a sequence with the specified value is not present in the object

In [ ]:
x = ["apple", "banana", "cherry"]

print("banana" in x)
print("mango" not in x)

True
True

# Identity Operators:
These operators are used to compare the memory locations of two objects.

is : Returns True if both variables are the same object

is not : Returns True if both variables are not the same object

In [ ]:
x = ["apple", "banana", "cherry"]
y = ["apple", "banana", "cherry"]
z = x

print(x is z)
print(x is y)
print(x == y)
print(x is not y)
print(x is not z)

True
False
True
True
False

# BOOLEAN
In Python, the Boolean data type is used to represent one of two values: True or False. Booleans are commonly used in conditional statements and control flow to determine the truthiness of an expression or variable.

In [ ]:
is_sunny = True
is_raining = False
print(is_sunny)
print(is_raining)

True
False

# List Methods
append()-Adds an element at the end of the list

clear()-Removes all the elements from the list

copy()-Returns a copy of the list

count()-Returns the number of elements with the specified value

extend()-Add the elements of a list (or any iterable), to the end of the current list

index()-Returns the index of the first element with the specified value

insert()-Adds an element at the specified position

pop()-Removes the element at the specified position

remove()-Removes the item with the specified value

reverse()-Reverses the order of the list

sort()-Sorts the list

len()-Returns the number of elements in the list.

# append

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

# extend

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

# insert

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 'a')
print(my_list)

[1, 'a', 2, 3]

# REMOVE

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)

[1, 3, 2]

# POP

In [ ]:
my_list = [1, 2, 3]
element = my_list.pop(1)
print(element)
print(my_list)

2
[1, 3]

# Length

In [ ]:
my_list = [1, 2, 3]
length=len(my_list)
print(length)

3

# reverse

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

# Dictionary Methods
dict[key] = value-Adds a key-value pair to the dictionary.

pop(key)-Removes the key and returns its value.

del dict[key]-Deletes a key-value pair.

clear()-Removes all items from the dictionary.

keys()-Returns a view object of all the keys in the dictionary.

values()-Returns a view object of all the values in the dictionary.

items()-Returns a view object of all the key-value pairs in the dictionary. python

copy() Returns a copy of the dictionary

fromkeys() Returns a dictionary with the specified keys and value

get() Returns the value of the specified key

popitem() Removes the last inserted key-value pair

In [ ]:
d = {}

d["name"] = "John"
d["age"] = 30

print(d.get("name"))
print(d.keys())
print(d.values())
print(d.items())

d2 = d.copy()
print(d2)

d.pop("age")
print(d)

del d["name"]
print(d)

d3 = dict.fromkeys(["a", "b"], 1)
print(d3)

d3.clear()
print(d3)

John
dict_keys(['name', 'age'])
dict_values(['John', 30])
dict_items([('name', 'John'), ('age', 30)])
{'name': 'John', 'age': 30}
{'name': 'John'}
{}
{'a': 1, 'b': 1}
{}

# Tuples Methods
count()-Returns the number of times a specified value occurs in a tuple

index()-Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
t = (1, 2, 3, 2, 4, 2)

print(t.count(2))
print(t.index(3))

3
2

# Set Methods
add()- Adds an element to the set.

remove()-Removes a specific element from the set. Raises a KeyError if the element is not found.

discard()-Removes a specific element from the set, but does not raise an error if the element is not found.

pop()-Removes and returns an arbitrary element from the set.

clear()-Removes all elements from the set.

union()-Returns a set containing all elements from both sets.

intersection()-Returns a set containing only elements that are common in both sets.

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1.add(6)
print(s1)

s1.remove(2)
print(s1)

s1.discard(10)   # No error if 10 not found
print(s1)

s1.pop()
print(s1)

s1.clear()
print(s1)

# Using union and intersection
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))         # All elements
print(a.intersection(b))  # Common elements

{1, 2, 3, 6}
{1, 3, 6}
{1, 3, 6}
{3, 6}
set()
{1, 2, 3, 4, 5}
{3}

# CONDITIONS
In Python, conditions are used to execute code based on whether certain criteria are met. This is typically done using if, elif, and else statements. You can also use conditional expressions and ternary operators for concise conditional logic. Here’s a comprehensive overview of different types of conditional constructs in Python:

# 1. if Statement:
The if statement evaluates a condition and executes the block of code if the condition is True.

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

# 2. if-else Statement:
The if-else statement provides an alternative block of code to execute if the condition is False.

In [ ]:
x = 4

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

# 3.. if-elif-else Statement:
The if-elif-else statement allows you to check multiple conditions. It executes the block of code for the first condition that is True. If none of the conditions are True, it executes the else block.

In [ ]:
x = 7

if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is 7")
else:
    print("x is less than 10 and not 7")

x is 7

# 4. Nested if Statements:
You can nest if statements within another if statement to check multiple conditions.

In [ ]:
x = 15
y = 10

if x > 10:
    if y > 5:
        print("x is greater than 10 and y is greater than 5")
    else:
        print("x is greater than 10 but y is not greater than 5")
else:
    print("x is not greater than 10")

x is greater than 10 and y is greater than 5

# Match case
match-case is a control flow structure introduced in Python 3.10 that works like a switch-case in other languages. It allows you to match a variable against patterns and execute code based on the matched pattern.

In [ ]:
x = 2

match x:
    case 1:
        print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Something else")

Two